###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_HTS221_SENSOR
	comment "No additional options for HTS221_SENSOR"

# 	config APPS_HTS221_SENSOR_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
