###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_LPS25HB_SENSOR
	comment "No additional options for LPS25HB_SENSOR"

# 	config APPS_LPS25HB_SENSOR_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
