###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_GENERIC_BUFFER
	comment "No additional options for GENERIC_BUFFER"

# 	config APPS_GENERIC_BUFFER_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
