###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_IPERF3
	comment "No additional options for IPERF3"

# 	config APPS_IPERF3_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
