###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_UZ_PCIEC_FACTEST
	comment "No additional options for UZ_PCIEC_FACTEST"

# 	config APPS_UZ_PCIEC_FACTEST_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
